@import 'person';
@font-face {
    font-family: BrandonTextBold;
    src: url("../fonts/brandon_text_bold/BrandonTextBold.otf") format("opentype");
}
@font-face {
	font-family:Shlop;
	src: url("../fonts/shlop.ttf") format("truetype");
}

@import url("https://fontlibrary.org/face/glacial-indifference");
@import url('https://fonts.googleapis.com/css?family=Denk+One');






//LOGO ANIMATION///

@keyframes titleIntro {
  0% {
  	//position: absolute;
  	
    transform: scale(.7) rotate(20deg);
    opacity: 0;
    color:#FB0018;//#FC3317
    font-size: 3rem;

  }

  25% {
    opacity: 1;
    transform: scale(1.5) rotate(-15deg);
    font-size: 8rem;
  }
 
  50% { 
    color:#FC3317;
    transform: scale(1) rotate(0);

    font-size: 4rem;
    opacity: 0;

  }
  75% {
  	opacity: 1;
  }
  100% {
  	color:white;
  }
}
@keyframes mymove {
    50% {transform: rotate(45deg);}
}

.App {

  text-align:center;


}
.App-header {
	align-items: center;
	background-color: #000000;
	//background-image: url('../img/frankenstein_icon.png');
	display:flex;
	margin:0 auto;
	opacity: 0.8;
	position:relative;
	z-index:5;
	width:100%;
	-webkit-box-shadow: 0px 23px 39px -8px rgba(125,125,125,1);
	-moz-box-shadow: 0px 23px 39px -8px rgba(125,125,125,1);
	box-shadow: 0px 23px 39px -8px rgba(125,125,125,1);
	padding-left:1rem;
	margin-bottom:7rem;


}

.Header-title{
	//-webkit-transform: rotate(-10deg);
	flex-grow:2;
	padding:0;
	h1{
		color:#fff;
		font-family: 'Shlop', sans-serif;
		font-size: 7rem;
		letter-spacing:1rem;
		white-space: nowrap;
		text-shadow:2px 5px 7px rgba(0, 255, 125, 0.76);
	  	animation: titleIntro 5s;
	  }
 	

}


.Header-Nav {
	width:33%;

}
.App-intro{
	color:white;
	font-size:2rem;
	margin-top:0;
	font-family:Futura, sans-serif;
	text-transform:uppercase;
}
.App-intro:hover{
	background-color:#FA54E8;
}
.fa {
	color:white;
	font-size:4em;
}
.fa:hover{
	color:#FA54E8;
	padding-top:3rem;
}

.button {
	border: 3px solid black;
	height:5em;
	width: 5em;
}



body{
	margin:0;
	padding:0;

	
}

.monster-container {
	margin:45 auto;
	padding:10rem;
	
}
.monster-stage {
	-moz-box-shadow: 13px 19px 23px #333333; 
	-webkit-box-shadow: 13px 19px 23px #333333; 
	background-repeat:no-repeat;
	background-size:auto 100%;
	background-position: center;
	border:8px solid #FA54E8;
	box-shadow: 13px 19px 23px #333333; 
	height:800px;
	position: relative;
}
.Save-button button{
	padding:1.5rem;
	background-color:#FECA1A;
	margin-top:2rem;
	border-radius:20px;
	box-shadow:13px 19px 23px #333333;
}
p {
	font-family: 'Futura', sans-serif;
	letter-spacing:3px;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	text-shadow: 0px 1px -1px #333333; 
	
}
p:hover{
	color:#FA54E8;
}

.selectBox-arrow{
	font-size:5rem;


}
.selectBox-arrow:hover{
	color:#FA54E8;
}
.main-row{
	display: flex;
	padding:3em;
	margin-top:-7em;
	background-color:#f5faff;
	.monster-stage{
		margin-top:8em;
		width:73%;
	}
	.selectBox-container{
		flex-shrink: 1;
		margin-left:3em;
		width:33%;


	}
}

label {
	-moz-border-radius: 20px;
	-moz-box-shadow: 13px 19px 23px #333333; 
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 13px 19px 23px #333333; 
	background-color: #FECA1A;//#D37217brownish-orange //#DAAAF2lavendar
	background-position: center center;
	border-radius: 20px;
	border: 1px solid #ccc;
	box-shadow: 13px 19px 23px #333333; 
	clear:both;
	display:block;
	font-family: 'Futura', sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 3px;
    margin-bottom:2em;
    padding: 20px;

}

		


select {
	
	border: 3px solid black;
	font-family:BrandonTextBold, sans-serif;
	font-size: 15px;
	margin: 30px 0;
	width:100%;

}

.button {

  -moz-border-radius: 9;
  -moz-box-shadow: 13px 19px 23px #333333; 
  -webkit-border-radius: 9;
  -webkit-box-shadow: 13px 19px 23px #333333; 
  background-color: #FA54E8;
  border-radius: 9px;
  box-shadow: 13px 19px 23px #333333; 
  color: black;
  float:right;
  font-family: 'BrandonTextBold', 'sans-serif';
  font-size: 20px;
  height:2em;
  letter-spacing: 3px;
  margin-top: 5px;
  padding: 15px 20px 10px 20px;
  text-decoration: none;
  width:10em;
}


.button:hover {
  background: white;
  color:black;
  text-decoration: none;
}
  /*<div className="BackgroundSearch">

			<div className="BackgroundSearch-input">
				<input type="text" onChange={this.handleSearchChange}/>
				<button type="button" onClick={this.handleClick}>
				Search
				</button>
			</div>

			<div className="BackgroundSearch-results">
			{resultOutput}
			</div>
			
		</div>*/

.select-bkgrd-title{
	font-family: Futura, sans-serif;
	font-size:2em;
	letter-spacing:3px;
	
}
.BackgroundSearch {

      width: 100%;

}
.BackgroundSearch-input, button, input {
		
	 font-family: BrandonTextBold, sans-serif;
	 font-size:32px;
	 padding-left: 8px;
	 padding-right:8px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     padding:15px;
     border:2px solid #ccc;
     background-color:#FECA1A;
     border-radius: 20px;
	box-shadow: 13px 19px 23px #333333; 

	

}
.BackgroundSearch input{
	background-color:white;
}

.BackgroundSearch-results {
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	max-height:200px;
	overflow:auto;

		.BackgroundSearch-result {
			width:18%;
			margin:1%;
			position:relative;
			overflow: hidden;
			box-sizing:border-box;
			&-active {
				border:5px solid yellow;
			}
			&:before{
				content:" ";
				display:block;
				padding-top:100%;

			}
		}

		img {
			position:absolute;
			top:0;
			bottom:0;
			left:50%;
			transform:translateX(-50%);
			min-height: 100%;
			
	}
}
.Confirm-btn {
	display:none;
	padding:15px;
	margin-top:20px;
	background-color:#FA54E8;


}
.BackgroundSearch-active {
	background-color:rgba(36, 30, 20, 0.51);
	position:fixed;
	top:50%;
	left:50%;
	width:50%;
	transform: translate(-50%, -50%);
	padding:50px;
	z-index:20;
		.select-bkgrd-title{
			color:white;
		}
		.Confirm-btn{
			display: inline;
		}
}
.BackgroundSearch .fa{
	color:black;
	font-size:4em;

}
.BackgroundSearch .fa:hover{
	color:#FA54E8;
}
.canvas-container {
	border: 5px solid black;
	-webkit-box-shadow: -1px 21px 15px -5px rgba(23,22,23,1);
-moz-box-shadow: -1px 21px 15px -5px rgba(23,22,23,1);
box-shadow: -1px 21px 15px -5px rgba(23,22,23,1);
background-color:#f0e9e6;

border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;


	
}
.textbox-container{
	height:3em;
	width:2em;
	background-color:yellow;
}

.textInput-container input{
	background-color:#fff;

}

footer{
	
    height: 64px;
    background: #eee;
    padding:2rem;
    padding-bottom:2rem;
    background-image:url('../img/frankenstein_icon.png');
    background-repeat:none;
}
.footer-info li {
	text-decoration:none;
	font-family:'Futura', sans-serif;
	list-style-type:none;

}
.footer-info ul {
	padding-top:2rem;
	margin:0;
}