@import 'person';
@font-face {
    font-family: BrandonTextBold;
    src: url("../fonts/brandon_text_bold/BrandonTextBold.otf") format("opentype");
}
@font-face {
	font-family:Shlop;
	src: url("../fonts/shlop.ttf") format("truetype");
}

@import url("https://fontlibrary.org/face/glacial-indifference");
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Denk+One');








@keyframes bounceIn {
  0% {
    transform: scale(0.1) rotate(-15deg);
    opacity: 0;
    color:#FC3317;
  }

  25% {
    transform: scale(1.2) rotate(-15deg);
    opacity: 1;
  }
 
  50% {
    transform: scale(1) rotate(-15deg);
    color:#FC3317;
  }
  100% {
  	color:white;
  }
}
@keyframes mymove {
    50% {transform: rotate(45deg);}
}

.App {
 // /*background-color: #F0F0F0;*/
  background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 49%, rgba(243,243,243,1) 84%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 49%,rgba(243,243,243,1) 84%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(237,237,237,1) 49%,rgba(243,243,243,1) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  text-align:center;


}
.App-header {
	align-items: center;
	background-color: #000000;
	display:flex;
	margin:0 auto;
	opacity: 0.8;
	width:100%;
	-webkit-box-shadow: 0px 23px 39px -8px rgba(125,125,125,1);
	-moz-box-shadow: 0px 23px 39px -8px rgba(125,125,125,1);
	box-shadow: 0px 23px 39px -8px rgba(125,125,125,1);
	padding-left:1rem;
	margin-bottom:7rem;


}

h1{
	-webkit-transform: rotate(-10deg);
	
	color:#fff;
	font-family: 'Shlop', sans-serif;
	font-size: 8rem;
	letter-spacing:1rem;
	padding:25px;
	text-shadow:2px 5px 7px rgba(0, 255, 125, 0.76);
  	animation: bounceIn 4s;
 	

}


.Header-Nav a{
}
.App-intro{
	color:white;
	font-size:2rem;
	margin-top:10em;
	font-family:Futura, sans-serif;
	text-transform:uppercase;
}
.App-intro:hover{
	background-color:#FA54E8;
}
.fa {
	color:white;
}
.fa:hover{
	color:#FA54E8;
	padding-top:3rem;
}

.button {
	border: 3px solid black;
	height:5em;
	width: 5em;
}



body{
	margin:0;
	padding:0;

	
}

.monster-container {
	margin:45 auto;
	padding:10rem;
	
}
.monster-stage {
	-moz-box-shadow: 13px 19px 23px #333333; 
	-webkit-box-shadow: 13px 19px 23px #333333; 
	background-repeat:no-repeat;
	background-size:auto 100%;
	background-position: center;
	border:8px solid #FA54E8;
	box-shadow: 13px 19px 23px #333333; 
	height:800px;
	position: relative;
}

p {
	font-family: 'Futura', sans-serif;
	letter-spacing:3px;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	text-shadow: 0px 1px -1px #333333; 
	
}
p:hover{
	color:#FA54E8;
}

.selectBox-arrow{
	font-size:5rem;


}
.selectBox-arrow:hover{
	color:#FA54E8;
}
.main-row{
	display: flex;
	padding:3em;
	margin-top:-7em;
	background-color:#f5faff;
	.monster-stage{
		margin-top:8em;
		width:73%;
	}
	.selectBox-container{
		flex-shrink: 1;
		margin-left:3em;
		width:33%;


	}
}

label {
	-moz-border-radius: 20px;
	-moz-box-shadow: 13px 19px 23px #333333; 
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 13px 19px 23px #333333; 
	background-color: #FECA1A;//#D37217brownish-orange //#DAAAF2lavendar
	background-position: center center;
	border-radius: 20px;
	border: 1px solid #ccc;
	box-shadow: 13px 19px 23px #333333; 
	clear:both;
	display:block;
	font-family: 'Futura', sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 3px;
    margin-bottom:2em;
    padding: 20px;

}

		


select {
	
	border: 3px solid black;
	font-family:BrandonTextBold, sans-serif;
	font-size: 15px;
	width:100%;

}

.button {

  -moz-border-radius: 9;
  -moz-box-shadow: 13px 19px 23px #333333; 
  -webkit-border-radius: 9;
  -webkit-box-shadow: 13px 19px 23px #333333; 
  background-color: #FA54E8;
  border-radius: 9px;
  box-shadow: 13px 19px 23px #333333; 
  color: black;
  float:right;
  font-family: 'BrandonTextBold', 'sans-serif';
  font-size: 20px;
  height:2em;
  letter-spacing: 3px;
  margin-top: 5px;
  padding: 15px 20px 10px 20px;
  text-decoration: none;
  width:10em;
}


.button:hover {
  background: white;
  color:black;
  text-decoration: none;
}
  /*<div className="BackgroundSearch">

			<div className="BackgroundSearch-input">
				<input type="text" onChange={this.handleSearchChange}/>
				<button type="button" onClick={this.handleClick}>
				Search
				</button>
			</div>

			<div className="BackgroundSearch-results">
			{resultOutput}
			</div>
			
		</div>*/

.select-bkgrd-title{
	font-family: Futura, sans-serif;
	font-size:2em;
	letter-spacing:3px;
	
}
.BackgroundSearch {

      width: 100%;

}
.BackgroundSearch-input, button, input {
		
	 font-family: BrandonTextBold, sans-serif;
	 font-size:27px;
	 padding-left: 8px;
	 padding-right:8px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;

	

}

.BackgroundSearch-results {
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	max-height:200px;
	overflow:auto;

		.BackgroundSearch-result {
			width:48%;
			margin:1%;
			position:relative;
			overflow: hidden;
			box-sizing:border-box;
			&-active {
				border:3px solid red;
			}
			&:before{
				content:" ";
				display:block;
				padding-top:100%;

			}
		}

		img {
			position:absolute;
			top:0;
			bottom:0;
			left:50%;
			transform:translateX(-50%);
			min-height: 100%;
			
	}
}
.Confirm-btn {
	display:none;
	padding:15px;
	margin-top:20px;
	background-color:#FA54E8;


}
.BackgroundSearch-active {
	background-color:rgba(36, 30, 20, 0.51);
	position:fixed;
	top:50%;
	left:50%;
	width:50%;
	transform: translate(-50%, -50%);
	padding:50px;
	z-index:20;
		.select-bkgrd-title{
			color:white;
		}
		.Confirm-btn{
			display: inline;
		}
}
.canvas-container {
	border: 5px solid black;
	-webkit-box-shadow: -1px 21px 15px -5px rgba(23,22,23,1);
-moz-box-shadow: -1px 21px 15px -5px rgba(23,22,23,1);
box-shadow: -1px 21px 15px -5px rgba(23,22,23,1);
background-color:#f0e9e6;

border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;


	
}
.textbox-container{
	height:3em;
	width:2em;
	background-color:yellow;
}

.textInput-container{

}